/* место для вашего кода */
:root {
  --text-white: #fff;
}

.page {
  height: 100%;
  font-family: Raleway, Arial, Helvetica, sans-serif;
}

.header {
  padding: 92px 24px 92px 24px;
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  justify-content: space-between;
  justify-items: stretch;
  align-items: center;
}

.header__links-list {
  display: grid;
  grid-template-columns: 0.8fr 10px 1fr 10px 1fr;
  grid-template-areas: "col-1 mark-1  col-2  mark-2  col-3";
  justify-items: stretch;
  justify-content: stretch;
  padding: 0px 29px 0px 0px;
  margin-right: 10px;
}

.header__links-list-item {
  font-family: Raleway, Arial, Helvetica, sans-serif;
  font-size: 1.125rem;
  font-style: normal;
  list-style-type: none;
  align-self: center;
}

.header__marker {
  display: list-item;
  list-style: circle;
}

/* .header__marker {
  display: grid;
  align-self: center;
  justify-content: center;
} */

.header__links-list-item-general {
  display: grid;
  grid-area: col-1;
  padding-left: 0px;
  justify-content: center;
}

.header__links-list-item-see-lots {
  display: grid;
  grid-area: col-2;
  padding: 11px;
  justify-content: center;
  align-self: stretch;
  align-items: center;
}

.header__links-list-item-about {
  display: grid;
  grid-area: col-3;
  padding-left: 0px;
  justify-content: center;
  text-align: left;
}

.header__link {
  white-space: nowrap;
}

.header__logo-image {
  margin: 0px;
  width: 140px;
  height: 104px;
}

.header__address {
  display: grid;
  justify-self: end;
  align-content: center;
  padding-right: 5%; /*дизайнер молодец , а отступ по падингу не очень*/
}

.address {
  display: inline-block;
  width: 242px;
  line-height: 159%;
}

.contact {
  font-family: Raleway, Arial, Helvetica, sans-serif;
  font-size: 1.125rem;
  font-weight: normal;
  font-style: normal;
  text-decoration: none;
}

.cover {
  display: grid;
  grid-template-rows: 1fr 59% 1fr;
  color: #ffffff;
  width: 100%;
  min-height: 758px;
  /* background-color: #00000000; */
  /* opacity: 0.5; */
  /* filter: opacity(0.5);
  -webkit-filter: opacity(0.5); */
}

.lens-image {
  background: rgba(0, 0, 0, 0.6);
  position: relative;
}

.cover__image-lens {
  position: absolute;
  width: 100%;
  min-height: 758px;
  object-fit: cover;
  /* background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 01)),url("../images/cover.jpg");
  background-repeat: no-repeat;
  background-position: 0% 0%;
  background-size: cover;
  /*filter: opacity(0.5); */
  /* -webkit-filter: opacity(60%); */
  z-index: -1;
  top: 0;
  left: 0;
}

/* .visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
} */

.cover__text {
  display: grid;
  grid-row: 2/3;
  height: 100%;
  font-size: 4.1em;
  padding-top: 0px;
  color: white;
  align-content: start;
  align-items: end;

  grid-gap: 0px;
}

.cover__text-headline {
  display: inline;
  /* flex-direction: row; */
}

.cover__headline-wrapper {
  display: inline-block;
  /* text-transform: uppercase;
  font-weight: bold;
  font-size: 100px;
  font-family: Raleway, Arial, Helvetica, sans-serif;
  color: #ffffff;*/
  margin-top: 22px;
  line-height: 100%;
}

.cover__text-headline-word {
  display: inline-block;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 100px;
  font-family: Raleway, Arial, Helvetica, sans-serif;
  color: #ffffff;
  line-height: 100%;
}

.cover__text-headline-word-space-left {
  display: inline-block;
  /* padding-left: 52px; */
  letter-spacing: 30px;
  margin-right: 0px;
  text-align: left;
  /* border: #aa00aa 1px dashed; */
  margin-left: 48px;
}

.cover__text-headline-word-space-left::after {
  content: "";
  margin-right: -30px;
}

.cover__headline-position-left {
  display: inline-block;
  /* border: 1px #d1c816 dashed; */
  margin-left: 30px;
  /* margin: 0px; */
  /* letter-spacing: -050px; */
  /* word-spacing: -38px; */
  /* text-indent: 43px; */
  /* text-align: left; */
}

/* ---------------------------первая линия,  первые два символа-------------------- */

.cover__text-headline-word-space-center {
  display: inline-block;
  /* border: 1px #aa00aa dashed; */
  margin-left: 335px;
  letter-spacing: 30px;
}

.cover__text-headline-word-space-center::after {
  content: "";
  margin-right: -30px;
}

/*----------------------------- вторая линия, первые символы ---------------------------*/
.cover__headline-position-center {
  display: inline-block;
  /* border: 1px #d1c816 dashed; */
  line-height: 100%;
  margin-left: 30px;
  /* width: 100%; */
  /* word-spacing: -12px; */
  /* text-indent: 330px; */
  /* letter-spacing: 32px; */
  /* text-align: left; */
  /* padding-left: 0px; */
  /* display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: flex-start;
  align-items: stretch;
  padding-top: 6px;
  padding-bottom: 0px;
  /* padding-left: 330px; */
  /* padding-right: 0px; */
  /* letter-spacing: 32px; */
}

/* вторая линия, второй символ */
/*.cover__text-headline-line-second-letter-second {
  display: flex;
  flex-direction: row;
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
  padding-left: 28px;
} */

/*---------------------------- третья линия, первые символы ---------------------*/
.cover__text-headline-word-space-right {
  display: inline-block;
  /* border: 1px #aa00aa dashed; */
  margin-left: 630px;
  letter-spacing: 30px;
}

.cover__text-headline-word-space-right::after {
  content: "";
  margin-right: -30px;
}

.cover__headline-position-right {
  display: inline-block;
  /* border: 1px #d1c816 dashed; */
  margin-left: 34px;
  letter-spacing: 30px;
  /* width: 100%; */
  /* word-spacing: -20px; */
  /* text-indent: 630px; */
  /* padding-right: 0px; */
  /* text-align: left; */
  /* display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: flex-start;
  align-items: stretch;
  padding-top: 8px;
  padding-bottom: 0px;
  /* padding-left: 628px; */
  /* padding-right: 0px;
  letter-spacing: 32px;
  line-height: 110%; */
}

.cover__headline-position-right::after {
  content: "";
  margin-right: -30px;
  letter-spacing: 30px;
}

.cover__action {
  display: grid;
  grid-row: 3/4;
  grid-template-columns: minmax(min-content, 72%) minmax(min-content, auto);
}

.cover__action-button {
  display: grid;
  border-style: none;
  /* color: #ffffff; */
  width: 256px;
  height: 51px;
  background-color: transparent;
  border-left: 1px currentColor solid;
  border-top: 1px currentColor solid;
  border-right: 1px currentColor solid;
  border-bottom: 1px currentColor solid;
  align-self: center;
  text-align: center;
  align-items: center;
  text-transform: uppercase;
  font-size: 22px;
  font-weight: 500;
  font-family: Raleway, Arial, Helvetica, sans-serif;
  color: currentColor;
}

.cover__text-quote {
  display: grid;
  align-self: center;
  justify-content: center;
  text-align: center;
  text-transform: uppercase;
  padding-left: 1px;
  font-size: 22px;
  word-spacing: 18px;
  color: currentColor;
}

.card-text {
  hyphens: auto;
  overflow-wrap: anywhere;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
}

.card-text-indented-line::first-letter {
  padding-left: 2rem;
}

.lots {
  display: grid; /*----------cards----------*/
  grid-template-areas:
    "row-header1"
    "row-cards1"
    "row-link1";
  grid-template-rows: auto 1fr auto;
  justify-content: stretch;
  justify-items: stretch;
  align-content: stretch;
  align-self: stretch;
}

.header-text {
  font-size: 40px;
  font-weight: bold;
}

.header-lots {
  display: grid;
  grid-area: row-header1;
  align-self: stretch;
  align-content: center;
  align-items: center;
  justify-items: stretch;
  justify-content: start;
  font-family: Raleway, Arial, Helvetica, sans-serif;
  font-weight: 800;
  font-size: 2.5rem;
  row-gap: 100px;
  padding-top: 173px;
  padding-left: 64px;
  text-transform: uppercase;
  margin-top: 7px;
}

.cards {
  display: grid;
  grid-area: row-cards1;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  justify-content: start;
  justify-self: start;
  column-gap: 24px;
  row-gap: 24px;
  padding: 24px 24px 0px 24px;
  /* height: 100%; */
  /* max-height: 150px; */
  /* margin: 0;
  padding: 0;
  list-style-type: none; */
}

.card {
  display: flex;
  /* background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)); */
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
  padding: 48px 40px 48px 35px;
  min-height: 566px;
  /*карточка должна тянуться но тогда пиксельпёрфек ломается*/
  background-repeat: no-repeat;
  background-position: bottom;
  background-clip: border-box;
  background-size: cover;
  width: 100%;
  position: relative;
  color: hsl(0, 0%, 100%);
}

.link-card {
  /* margin: 0px;
  padding: 0px; */
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
}

.card-image-lens {
  position: absolute;
  width: 100%;
  min-height: 566px;
  object-fit: cover;
  /* background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 01)),url("../images/cover.jpg");
  background-repeat: no-repeat;
  background-position: 0% 0%;
  background-size: cover;
  /*filter: opacity(0.5); */
  /* -webkit-filter: opacity(60%); */
  z-index: -1;
  top: 0;
  left: 0;
}

.card-image-producer {
  /* background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url("../images/card-lot-01.jpg"); */
}

.card-image-book {
  /* background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url("../images/card-lot-02.jpg"); */
}

.card-image-triangle {
  /* background-image: linear-gradient(rgba(0, 0, 0, 0.535), rgba(0, 0, 0, 0.733)),
    url("../images/card-lot-03.jpg");*/
}

.card-text {
  color: #ffffff;
  text-transform: uppercase;
  text-decoration: underline;
  font-family: Raleway, Arial, Helvetica, sans-serif;
  font-weight: 600;
  font-size: 22px;
  line-height: 120%;
  list-style-type: none;
  padding: 0px;
  margin: 0px;
}

.card-name-headline {
  font-family: inherit;
  color: #ffffff;
  font-family: Raleway, Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 20px;
  line-height: 120%;
}

.card-content {
  display: inline-block;
  color: #ffffff;
  font-family: Raleway, Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 120%;
  /* overflow: scroll; */
  /* scrollbar-width: none; */
  overscroll-behavior: none;
  /* max-height: 342px; */
  /* word-break: break-all; */
  /* display: -webkit-inline-box; */
  /* line-clamp: 1; */
}

.post-text-article {
  display: grid;
  grid-area: row-link1;
  grid-row: auto;
  padding-top: 30px;
  padding-left: 58px;
  /* min-height: 100px; */
  font-size: 20px;
  text-underline-offset: 3px;
}

.about {
  display: grid;
  grid-template-columns: 0.5fr 1fr;
  grid-template-rows: min-content 1fr;
  margin-top: 48px;
}

.about__auction-logo {
  display: grid;
  grid-row: 1 / 3;
  border-radius: 50%;
  width: 240px;
  height: 240px;
  background: #000;
  justify-self: center;
  justify-content: center;
  align-self: start;
  align-content: center;
  padding: 45px;
  margin-top: 135px;
  margin-left: 7px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.logo-image {
  width: 100%;
  height: 100%;
}

.about__text-header {
  display: grid;
  grid-column: 2 / 3;
  grid-row: 1 / 2;
  padding-top: 231px;
  padding-left: 11px;
  text-transform: uppercase;
  font-size: 40px;
  padding-bottom: 92px;
}

.about__text {
  display: grid;
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  justify-content: stretch;
  align-content: stretch;
  justify-self: start;
  align-self: start;
  padding-top: 7px;
  padding-left: 12px;
  padding-right: 24px;
}

.about__text-about {
  display: inline-block;
  padding-bottom: 26px;
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
}

.footer__list {
  /* border: 1px #37c817 solid; */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: nowrap;
  margin-top: 157px;
  font-size: 18px;
  font-weight: normal;
  font-style: normal;
}

.list__contacts-footer {
  display: inline-block;
  width: 290px;
  line-height: 130%;
  padding-left: 45px;
}

.contact-footer {
  font-family: Raleway, Arial, Helvetica, sans-serif;
  font-size: 1.125rem;
  font-weight: normal;
  font-style: normal;
  text-decoration: none;
}

.footer__adress-contact {
  display: inline-block;
  font-family: Raleway, Arial, Helvetica, sans-serif;
  font-size: 1.125rem;
  font-weight: normal;
  font-style: normal;
  text-decoration-line: underline;
  -moz-text-decoration-line: underline;
  text-underline-offset: 4px;
}

.footer__adress-contact-line {
  display: inline-block;
  text-decoration: none;
  font-size: 1.125rem;
  font-weight: normal;
  font-style: normal;
}

.footer__list-nav {
  display: flex;
  flex-direction: column;
  justify-self: center;
  align-items: center;
  margin-left: 0px;
  min-width: 240px; /* исправил */
}

.footer__list-nav {
  text-underline-offset: 5px;
  -moz-text-decoration-line: none;
}

.footer__list-nav-unlink {
  text-decoration: none;
  text-decoration-line: none;
}

.footer__list-icons {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-self: start;
  gap: 48px;
  margin-right: 47px;
  list-style-type: none;
}

.footer__list-icon-item-img {
  width: 48px;
}
